<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>로그인</title>
<link rel="stylesheet" th:href="@{/css/login.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('#formContent #userID').focus();
		
		// 에러가 있는 경우 메세지 처리
		var errMsg = $('#errMsg').val();
		if(errMsg != '') {
			alert(errMsg);
			$('#formContent').find('#userID').focus();
		}
	});
</script>
</head>
<body>
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->
			<h2 class="active">로그인</h2>
			<!-- Login Form -->
			<form action="/login-process.do" method="post">
				<input type="text" id="userID" class="fadeIn second" name="userId" placeholder="아이디" />
				<input type="password" id="userPwd" class="fadeIn third" name="userPwd" placeholder="비밀번호" autocomplete="off" />
				<input type="submit" class="fadeIn fourth" value="로그인" />
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
				<input type="hidden" id="errMsg" value='' />

			</form>
			<!-- Signup Link -->
			<div id="formFooter">
				<a class="underlineHover" href="/member/join.do">회원가입</a>
			</div>
		</div>
	</div>
</body>
</html>