<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>최고의 여행 - 대탈출</title>
	<link rel="stylesheet" th:href="@{/bootstrap-5.2.0-dist/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/btn-primary.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="/js/jquery.js" />"></script>
</head>

<body class="d-flex flex-column vh-100">
	<div th:insert="~{./common/header}"></div>

	<!--<c:if test="${!empty flashMessage}">
		<div class="container">
			<div class="row">
				<div class="col-6 offset-3">
					<div class="alert alert-primary alert-dismissible fade show" role="alert">
						${flashMessage}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>
		</div>
	</c:if>-->
	<section class="container">
		<div class="row mb-5">
			<div class="col-md-2">
				<div class="card mb-3">
					<div class="card-header">
						마이 페이지
					</div>
					<div class="list-group list-group-flush">
						<a href="myPage" class="list-group-item active">예약내역 확인</a>
						<a href="edit_check" class="list-group-item">정보수정/탈퇴</a>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<h2 class="mb-5">예약 내역 상세 확인</h2>
				<div class="card mb-4">
					<div class="card-header">
						<h3 class="card-title">[[${product.proName}]]</h3>
						<p class="text-end card-text">여행 기간 : [[${#dates.format(product.proDeparture, 'yyyy-MM-dd')}]] ~ [[${#dates.format(product.proArrive, 'yyyy-MM-dd')}]]</p>
					</div>
					<div class="card-body">
						<ul class="list-group">
							<li class="list-group-item"> 예약자 명 : [[${session.user.userName}]]</li>
							<li class="list-group-item"> 연락처 : [[${session.user.userCp}]]</li>
							<li class="list-group-item"> 이메일 : [[${session.user.userEmail}]]</li>
						</ul>
					</div>
					<div class="card-body mb-3">
						<p class="card-text">항공편 - [[${product.proAirplane}]]</p>
						<p class="card-text">성인 : [[${reservation.revAdult}]]명 / [[${reservation.revAdult}*${product.proAdult}]]원</p>
						<p class="card-text">소인 : [[${reservation.revMinor}]]명 / [[${reservation.revMinor}*${product.proMinor}]]원</p>
						<p class="card-text">[[${product.proPlan}]]박 [[${product.proPlan+1}]]일</p>
						<a href="${embassy}" class="card-link" target="_blank">*[[${product.proCountry}]] 대사관</a>
						<p class="card-text">
							<small class="text-muted">문제가 있으신 부분은 고객센터로 문의해주시길 바랍니다.</small>
						</p>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">상품 설명</h3>
					</div>
					<div class="card-body">
						<div class="tiny-p">
							<div th:utext="${tripInfo.detailInfo}"></div>
						</div>
					</div>
					<div class="card-footer">
						<button id="deleteBtn" class="btn btn-outline-secondary">예약 취소</button>
						<input type="hidden" id="product_num" value="${product.proNo}" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:insert="~{./common/footer}"></div>

</body>

</html>